body{
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  .content{
  
  }

  input[type="text"] {
    padding: 1em;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  button {
    padding: 0.8em;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  button:hover {
    background-color: #3e8e41;
  }

  label{
    font-family: 'Teko', sans-serif;
    font-size: 3em;
    color: white; 
  }
  p{
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: rgb(238, 255, 0);
    background-color: blue;
    border-radius: 10px;
    padding: 1em;

  }


@media screen and (min-width: 768px){
  .container input {
    
    
  }
}